* {
  box-sizing: border-box;
}

body { 
  height: 100%;
  background-size: cover;
  background-image: url(/images/background.avif);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: sticky; 
  top: 0;
  background-color: #f2dca1;
  padding: 20px 10px;
  z-index: 1;
}

.header span {
  margin-left: 15px;
}

.header span:hover {
  background-color: #ddd;
}

.title  {
  font-variant: small-caps;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 25px; 
  line-height: 25px;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 2px;
}

@media only screen and (max-width: 500px) {
  .title {
      display: none;
  }
}

.header a.logo {
  position: relative;
  font-size: 25px;
  font-weight: bold;
  font-variant: small-caps;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #d5be80;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1;
}
  
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #54410b;
  display: block;
  transition: 0.3s;
}
  
.sidenav a:hover {
  color: #f1f1f1;
}
  
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
  
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/**
.container {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #ffff;
  padding: 10px;
  width: 80%;
  background-color: #fdf0cd;
}
**/

.login_logo img {
  transition: 0.2s;
}

.login_logo img:hover {
  transform: scale(1.2);
  opacity: 0.5;

}

.cart img {
  transition: 0.2s;
}

.cart img:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

.announcement img {
  transition: 0.2s;
}

.announcement img:hover {
  transform: scale(1.2);
  opacity: 0.5;

}

footer {
  border: rgb(190, 253, 141) solid;
  height: 140px;
  padding: 20px;
  background-color: #eccd77;
}

footer h1 {
  font-variant: small-caps;
  color: black;
  text-decoration: none;
  font-size: 25px; 
  line-height: 25px;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 2px;
  padding:25px;
  margin-top: 10px;
  margin-bottom: 20px;
  float: left;
}

.footer ul { 
  list-style: none;
  margin-top: 20px;
  float: right;
}

.footer li {
  display: inline-block ;
}

footer a {
  transition: .2s;
  display: inline-block;
  font-variant: small-caps;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  color: black;
  text-decoration: none;
}

footer a:hover {
  transform: scale(1.2);
  color: white;
}

@media only screen and (max-width: 803px) {
  footer a {
    padding-left: 70px;
  }
  footer h1 {
    padding-left: 80px;
  }
  footer {
      height:450px;
  }
}